<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
<session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/management_system</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">258741</property>
    <mapping class="org.internship.market.database.entity.RawMaterialEntity"/>
    <mapping class="org.internship.market.database.entity.AccountingEntity"/>
    <mapping class="org.internship.market.database.entity.CustomerEntity"/>
    <mapping class="org.internship.market.database.entity.OrdersEntity"/>
    <mapping class="org.internship.market.database.entity.ProductEntity"/>
    <mapping class="org.internship.market.database.entity.InventoriesEntity"/>
</session-factory>
</hibernate-configuration>